.import-type {
  cursor: pointer;
}
.import-type.selected {
  .ibox-content, .ibox-title {
    color: #FFFFFF;
    background: #1ab394;
  }
}
.scrolling-table {
  overflow-x: scroll;
  table {
    min-width: 1500px;
    select {
      max-width: 170px;
    }
  }
}
span.red {
  color: red;
}
