/*
 *
 * Shared Styles For All Navs
 *
 */

.navbar {
  border: 0;
  border-radius: 0;
}

/* This is the wrapper for the main sidebar menu */
.navbar-default {
  background-color: transparent;
  border-color: $nav-bg;
}

/*
 *
 * Navbar components (Links, dropdowns, etc)
 *
 */

 /* Links */

.nav > li > a {
  font-weight: 600;
  padding: 14px 12px 14px 17px;
}

.mini-navbar {
  .nav > li > a {
    font-weight: 600;
    padding: 14px 20px 14px 25px;
  }
}

.nav.navbar-right > li > a, .navbar-link {
  padding: 15px 15px 0;
}

.nav > li > .navbar-link {
  font-weight: 600;
}

.nav > li > a {
  &.btn.btn-primary, &.btn.btn-danger {
    padding: 6px 12px;
    color: white;
    margin: 8px 15px;

    &:hover, &:focus {
      background-color: #18a689;
      border-color: #18a689;
    }
  }
}

.nav > li > button.navbar-link.btn-link {
  border: none;
}

.nav > li.active > a {
  color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #fff;
}

.nav > li > a i {
  margin-right: 6px;
}

.nav > li > a,
.nav > li > .navbar-link {

  color: #999c9e;

  &.text-navy {
    color: $navy;
  }

  &.text-primary {
    color: inherit;
  }

  &.text-success {
    color: $navy;
  }

  &.text-info {
    color: $lazur;
  }

  &.text-warning {
    color: $yellow;
  }

  &.text-danger {
    color: $red;
  }

  &.text-muted {
    font-weight: normal;
  }

  &.text-white {
    color: #ffffff;
  }
}

.navbar-nav.navbar-right .open .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

.nav-form-group {
  padding-top: 6px;
}

.nav-form-group label {
  font-weight: normal;
}

.nav-text-input {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

@media (min-width: 550px) {
  .nav-text-input {
    width: 150px;
  }
}

@media (min-width: 650px) {
  .nav-text-input {
    width: 170px;
  }
}

@media (min-width: 990px) {
  .nav-text-input {
    width: 200px;
  }
}

.navbar .logo-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -18px;
  margin-left: -18px;
}

/*
 *
 * Non-collapsing navbar
 *
 */
.navbar-nav.navbar-no-collapse {

  float: left !important;
  margin: 0;

  > li {
    float: left;
  }

  &.navbar-right {

    float: right !important;

    > li {
      float: right;
    }
  }
}

/* The main sidebar menu, and any other similar metismenus */
.metismenu {

  .nav-header {

    padding: 33px 25px;
    background-color: $nav-bg;
    background-image: $nav-profil-pattern;
    background-repeat: no-repeat;
    background-size: cover;

    .pace-done & {
      transition: all 0.4s;
    }

    a {
      color: #DFE4ED;
    }

    .dropdown-menu a {
      color: inherit;
    }

    .text-muted {
      color: #8095A8;
    }
  }

  /* First and second, etc level */
  > li.active,
  .nav.nav-second-level > li.active {
    border-left: 4px solid darken($navy, 2%);
    background: darken($nav-bg, 3%);
    a {
      color: #fff;
    }
  }

  .nav.nav-second-level > li.active {
    border: none;
  }

  .nav.nav-second-level.collapse[style] {
    height: auto !important;
  }

  > li > a,
  .nav.nav-second-level > li > a {
    color: $nav-text-color;

    &:hover, &:focus {
      background-color: darken($nav-bg, 3%);
      color: white;
    }
  }
}

/*
 *
 * Navbar Top Links (.navbar-top-links)
 *
 */

.navbar-top-links {

  > li {
    display: inline-block;

    &:last-child {
      margin-right: 40px;

      .body-small & {
        margin-right: 0;
      }
    }

    > a:not(.btn) {
      min-height: 50px;
    }

    > a:hover, > a:focus {
      background-color: transparent;
    }
  }

  > li > a,
  .navbar-link {
    color: #999c9e;
  }

  .dropdown-menu > li {
    display: block;

    &:last-child {
      margin-right: 0;
    }

    > a {
      padding: 3px 20px;
      min-height: 0;
      font-size: 14px;

      div {
        white-space: normal;
      }
    }
  }

  .dropdown-messages,
  .dropdown-tasks,
  .dropdown-alerts {
    width: 310px;
    min-width: 0;
  }

  .dropdown-user {
    right: 0;
    left: auto;
  }
}

/*
 *
 * Custom overrides for specific scenarios
 *
 */

.admin-dash>.col-md-12 {
  // border-bottom: 10px solid #f3f3f4;
  // border-top: 10px solid #f3f3f4;
  padding: 0;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .dashboard-header {
    display: none;
  }
}

.nav.navbar-right .invite-btn {
  color: white;
  padding: 6px 12px;
  min-height: 0;

  &:hover {
    color: #999c9e;
  }
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: block;

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
  }
}

.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}

.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-third-level li a {
  padding-left: 62px;
}

.nav-second-level li:last-child {
  margin-bottom: 10px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
  z-index: 50;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}

.fixed-nav .slimScrollDiv #side-menu {
  padding-bottom: 60px;
}

.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}

.mini-navbar .nav .nav-second-level {
  position: absolute;
  left: 70px;
  top: 0;
  background-color: $nav-bg;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}

.canvas-menu.mini-navbar .nav-second-level {
  background: darken($nav-bg, 3%);
}

.mini-navbar li.active .nav-second-level {
  left: 65px
}

/* TODO - Move these into the .navbar-default block and check rule precedence */
.navbar-default .special_link a {
  background: $navy;
  color: white;
}

.navbar-default .special_link a:hover {
  background: #17987e !important;
  color: white;
}

.navbar-default .special_link a span.label {
  background: #fff;
  color: $navy;
}

.navbar-default .landing_link a {
  background: lighten($navy, 3%);
  color: white;
}

.navbar-default .landing_link a:hover {
  background: $navy !important;
  color: white;
}

.navbar-default .landing_link a span.label {
  background: #fff;
  color: lighten($navy, 3%);
}

.logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}

.pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done #page-wrapper, .pace-done .footer {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar-fixed-top {
  background: $gray;
  transition-duration: 0.4s;
  border-bottom: 1px solid #e7eaec !important;
  z-index: 2030;
}

/* TODO - These .white-bg selectors shouldn't be necessary */
.white-bg .navbar-fixed-top, .white-bg .navbar-static-top, .navbar-static-top {
  background-color: #FFFFFF;
}

.fixed-nav #wrapper {
  margin-top: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
  border-bottom: $gray;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  cursor: default;
}

.nav.nav-tabs li {
  background: none;
  border: none;
}
.body-small .navbar-fixed-top {
  margin-left: 0;
}

.webpage-designer-topbar {

  .js-title-input {
    font-size: 20px;
    font-weight: 100;
  }
}

@media (max-width: 480px) {

  .webpage-designer-topbar .nav.navbar-right > li > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}
