body.fixed-sidebar {

  .navbar-static-side {
    position: fixed;
    width: $sidebar-width;
    z-index: 2001;
    height: 100%;
    overflow-y: auto;
  }

  &.mini-navbar {

    .footer {
      margin: 0 0 0 0 !important;
    }

    .navbar-static-side {
      width: 0;
    }

    #page-wrapper {
      margin: 0 0 0 0;
    }

    &.body-small {

      #page-wrapper {
        margin: 0 0 0 $sidebar-width;
      }

      .navbar-static-side {
        width: $sidebar-width;
      }
    }

    .nav li:focus > .nav-second-level {
      display: block;
      height: auto;
    }

    .navbar-default .nav > li > .nav-second-level li a {
      font-size: 12px;
      border-radius: 3px;
    }

    .nav-second-level li a {
      padding: 10px 10px 10px 15px;
    }

    .nav-second-level {
      position: relative;
      padding: 0;
      font-size: 13px;
    }

    li.active .nav-second-level {
      left: 0
    }

    .navbar-default .nav > li > a {
      font-size: 13px;
    }

    .nav-label,
    .navbar-default .nav li a span {
      display: inline;
    }

    .nav-second-level li a {
      padding: 7px 10px 7px 52px
    }

    .nav-second-level {
      left: 0
    }

  }
}
