/*
 * .top-navigation styles
 *
 * The .top-navigation class is a body-level class that sets the layout
 * for the Inspinia theme. The top-navigation layout is currently* unused.
 * These styles should not apply to anything, and I am leaving them only
 * to make it easier if we ever return to that layout.
 *
 * (* as of this commit. Use `git blame` for history.)
 */
.top-navigation {

  #page-wrapper {
    margin-left: 0;
  }

  .navbar-nav .dropdown-menu > .active > a {
    background: white;
    color: $navy;
    font-weight: bold;
  }

  .navbar {
    margin-bottom: 0;
  }

  .nav > li > a {
    padding: 15px 20px;
    color: #676a6c;
  }

  .nav > li a:hover, .nav > li a:focus {
    background: #fff;
    color: $navy;
  }

  .nav > li.active {
    background: #fff;
    border: none;
  }

  .nav > li.active > a {
    color: $navy;
  }

  .navbar-right {
    margin-right: 10px;
  }

  .navbar-nav .dropdown-menu {
    box-shadow: none;
    border: 1px solid #e7eaec;
  }

  .dropdown-menu > li > a {
    margin: 0;
    padding: 7px 20px;
  }

  .navbar-brand {
    background: $navy;
    color: #fff;
    padding: 15px 25px;
  }

  .navbar-top-links li:last-child {
    margin-right: 0;
  }

  .footer.fixed {
    margin-left: 0 !important;
  }

  .wrapper.wrapper-content {
    padding: 40px;
  }

  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 20px;
  }
}

.top-navigation.mini-navbar #page-wrapper,
.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,
.mini-navbar .top-navigation #page-wrapper,
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,
.canvas-menu #page-wrapper {
  margin: 0;
}

.top-navigation.fixed-nav #wrapper, .fixed-nav #wrapper.top-navigation {
  margin-top: 50px;
}

.top-navigation.body-small .wrapper.wrapper-content, .body-small .top-navigation .wrapper.wrapper-content {
  padding: 40px 0 40px 0;
}

@media (max-width: 768px) {
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}

.menu-visible-lg, .menu-visible-md {
  display: none !important;
}

@media (min-width: 1200px) {
  .menu-visible-lg {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .menu-visible-md {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .menu-visible-md {
    display: block !important;
  }

  .menu-visible-lg {
    display: block !important;
  }
}
