- title 'Edit Business Before &amp; After'.html_safe

= errors_for @before_after
= form_for @before_after, url: [@business, :content, @before_after], html: { class: 'save-once' } do |form|
  = render form
