- title 'New Business Before &amp; After'.html_safe

= errors_for @before_after
= form_for @before_after, url: [@business, :content_before_afters], html: { class: 'save-once' } do |form|
  = render form
