- events = @events
- event_count = @event_count

.ibox id="activity_timeline"
  .ibox-title
    h5
      | Content from Your Local Connections
      small
        sup TM
  .ibox-content
    | Timeline Feed Here
    = link_to [:timeline, business, :activity_calendar_index], class: 'btn btn-primary btn-block btn-outline m-t' do
      i.fa.fa-arrow-down
      |  View More


/ .ibox id="activity_timeline"
/   .ibox-title
/     h5 Activity Feed
/     h5="#{event_count} #{params[:future] ? "Upcoming" : "Past"} Marketing Mission#{event_count == 1 ? '' : 's'}"
/     .ibox-tools
/       a.user-dropdown-toggle[data-toggle="dropdown"]
/         span
/            small.text-muted
/              i.fa.fa-edit
/              |  Manage Missions
/              span.caret.pull-right
/       ul.dropdown-menu
/         li
/           = link_to "Active Missions List View", [@business, :reminders]
/         li
/           = link_to "Browse Missions", [@business, :missions]
/         li
/           = link_to 'Create New Mission', new_business_mission_instance_path(@business)
/         li
/           = link_to 'Manage Notifications', [:edit, @business, :mission_notifications]
/   .ibox-content
/     .fc-toolbar
/       .fc-left
/         .fc-button-group
/           = link_to 'Upcoming', business_dashboard_path(business, future: true, past: nil, anchor: 'activity_timeline'), class: "fc-button #{params[:future] ? 'fc-state-active' : nil}"
/           = link_to 'Past', business_dashboard_path(business, past: true, future: nil, anchor: 'activity_timeline'), class: "fc-button #{params[:past] ? 'fc-state-active' : nil}"
/     - if events.empty?
/       .p-a-3.text-center
/         - if params[:future]
/           h2 No Upcoming Marketing Missions Scheduled
/         - elsif params[:past]
/           h2 No Past Marketing Missions
/         h4
/           = link_to 'Browse Recommended Marketing Missions', business_missions_path(business), class: 'text-navy'
/     - else
/       #vertical-timeline.vertical-container.dark-timeline.m-t-70px
/
/         - events.each do |event|
/           .vertical-timeline-block
/             .vertical-timeline-icon.navy-bg
/               i.fa.fa-briefcase
/
/             .vertical-timeline-content
/               = link_to business_mission_path(business, event.id)
/                 h2= truncate(event.title, length: 40)
/               p= truncate(event.description.html_safe, length: 115)
/
/               - if @mission_instance = MissionInstance.find_by(id: event.mission_instance_id)
/                 .row
/                   .col-md-6
/                     - if event.is_a?(MissionInstanceEvent)
/                       div= @mission_instance.schedule_in_words
/                     small
/                       span.text-navy= event.start.strftime('%b %e')
/                       = ' '
/                       | assigned to
/                       = ' '
/
/                       = render partial: 'businesses/missions/assignment_modal', locals: { mission: @mission_instance.mission, mission_instance: @mission_instance, skip_icon: true, color_class: 'text-blue' }
/                   .col-md-6
/                     = render partial: 'businesses/activity_calendar/timeline_actions', locals: { mi: @mission_instance, event: event }
/       = link_to [:timeline, business, :activity_calendar_index], class: 'btn btn-primary btn-block btn-outline m-t' do
/         i.fa.fa-arrow-down
/         |  View More
