- title 'Edit Custom Business Post'

= render :partial => 'dashbreadcrumb', :locals => { :fn => 'Manage Content', :fp => :content_root, :sn => 'Existing Content', :sp => :content_feed, :an => ' Custom Post'}

= errors_for @post
= form_for @post, url: [@business, :content, @post], html: { class: 'save-once' } do |form|
  = render form
