- title 'Create a Highlight a Creation Post'.html_safe

= errors_for @profile_post
= form_for @profile_post, url: [@business, :content_profile_posts], html: { class: 'save-once' } do |form|
  = render form
