.well.well-sm
  .row
    .col-sm-6
      p.h5 Categorize
      ul.list-unstyled.js-content-categories-list
        - form.object.business.content_categories.each do |content_category|
          li
            .checkbox
              label
                = check_box_tag "#{form.object.class.name.underscore}[content_category_ids][]", content_category.id, form.object.content_category_ids.include?(content_category.id)
                = content_category.name
      p.js-content-categories-empty style=('display:none' unless form.object.business.content_categories.empty?)
        em No categories found.
      hr
      p = link_to 'Add Category', [:new, form.object.business, :content_category], class: 'btn btn-xs btn-default', data: { toggle: 'modal', target: '#js-content-category-new-modal' }
    .col-sm-6
      p.h5 Tag
      = text_field_tag :tag_search, nil, placeholder: 'Enter Tag Name', class: 'form-control js-content-tag-lookup'
      ul.list-unstyled.js-content-tags-list style="margin-top:1em"
        - form.object.content_tags.each do |content_tag|
          li
            = form.hidden_field :content_tag_ids, multiple: true, value: content_tag.id
            => content_tag.name
            = icon 'close pull-right js-content-tag-remove', '', style: 'cursor: pointer'
      .js-content-tags-empty style=('display:none' unless form.object.business.content_tags.empty?)
        hr
        em No tags found.
- content_for :javascript do
  #js-content-category-new-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
  javascript:
    $('#js-content-category-new-modal').on('show.bs.modal', function(event) {
      $('#js-content-category-new-modal .modal-body').html(
        $('<div class="text-center" style="margin:2em"><i class="fa fa-spinner fa-spin fa-4x" /></div>')
      );
    });
    $('#js-content-category-new-modal').on('shown.bs.modal', function(event) {
      $('#js-content-category-new-modal .modal-content').load($('[data-target="#js-content-category-new-modal"]').attr('href'));
    });
    $('#js-content-category-new-modal').on('submit', 'form', function(event) {
      event.preventDefault()
      jqxhr = $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')); },
        cache: false,
        data: $(this).serialize(),
        dataType: 'html',
      });
      jqxhr.done(function(data) {
        var parsedData = JSON.parse(data);
        $('#js-content-category-new-modal').modal('hide');
        $('.js-content-categories-empty').hide();
        $('.js-content-categories-list').append(
          $('<li><div class="checkbox"><label><input type="checkbox" name="#{form.object.class.name.underscore}[content_category_ids][]" value="' + parsedData.id + '" checked /> ' + parsedData.name + '</label></div></li>')
        );
      });
      jqxhr.fail(function(response) {
        $('#js-content-category-new-modal .modal-content').html(response.responseText);
      });
    });

    var tagLookup = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      minLength: 2,
      remote: {
        url: '#{business_content_tags_path(form.object.business)}'
      }
    });
    tagLookup.initialize();
    var typeaheadOptions = {
      highlight: true,
      hint: false,
    };
    var typeaheadLookupOptions = {
      name: 'tag-lookup',
      displayKey: 'name',
      source: tagLookup.ttAdapter(),
      templates: {
        empty: '<div class="tt-template"><p>No results found.</p></div>',
      },
    };
    $('.js-content-tag-lookup').typeahead(typeaheadOptions, typeaheadLookupOptions);
    $('.js-content-tag-lookup').closest('.twitter-typeahead').css('width', '100%').css('top', '2px');
    $('.js-content-tag-lookup').closest('.twitter-typeahead').find('.tt-dropdown-menu').css('right', '0');
    $('.js-content-tag-lookup').on('typeahead:selected', function(event, selection, dataset) {
      $('.js-content-tags-list').append(
        $('<li><input type="hidden" name="#{form.object.class.name.underscore}[content_tag_ids][]" value="' + selection.id + '" /> ' + selection.name + ' <i class="fa fa-close pull-right js-content-tag-remove" style="cursor:pointer"></i></li>')
      );
      $('.js-content-tags-empty').hide();
    });
    $('.js-content-tag-lookup').on('blur', function() {
      $('.js-content-tag-lookup').val();
    });
    $('.js-content-tag-lookup').keypress(function(event) {
      if (event.which == 13) {
        var value = $('.js-content-tag-lookup').typeahead('val');
        if (value.length > 0) {
          event.preventDefault();
          jqxhr = $.ajax({
            type: 'POST',
            url: '#{business_content_tags_path(form.object.business)}',
            beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')); },
            cache: false,
            data: {
              content_tag: {
                name: value,
              },
            },
            dataType: 'html',
          });
          jqxhr.done(function(data) {
            var parsedData = JSON.parse(data);
            $('.js-content-tags-empty').hide();
            $('.js-content-tags-list').append(
              $('<li><input type="hidden" name="#{form.object.class.name.underscore}[content_tag_ids][]" value="' + parsedData.id + '" /> ' + value + ' <i class="fa fa-close pull-right js-content-tag-remove" style="cursor:pointer"></i></li>')
            );
            $('.js-content-tag-lookup').typeahead('val', '');
            $('.js-content-tags-empty').hide();
          });
        }
      }
    });
    $(document).on('click', '.js-content-tag-remove', function() {
      $(this).closest('li').remove();
    });
