= render partial: "website/footer_blocks/#{footer_block.theme}", object: footer_block, as: :block, locals: { business: footer_block.frame.business, location: footer_block.frame.business.location, website: footer_block.frame }
