div
  = stylesheet_link_tag 'dash', media: 'all', data: { turbolinks_track: true }
  = csrf_meta_tag
  = react_component "OnboardingWizard", businesses: @businesses.as_json(include: [:categories, :location, :owners]), categories: @categories, current_user: current_user
  
