<div class="col-lg-6 col-lg-offset-3">
  <div class="ibox">
      <div class="ibox-content product-box">

          <div class="bg-muted">
              <img class="img-responsive center-block" style="max-height: 220px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Form%20Builder.png">
          </div>
          <div class="p-md">
              <small class="text-muted">Included at No Charge w/ Optional Paid Upgrades</small>
              <a href="#" class="product-name"> Web Forms & Instant Contact Page™</a>

              <div class="m-t-xs">
                  <p>Create web forms to use on your website and with landing pages. You and your team will be notified when there's a submission and the information is added to your Local Connections database. Then you can also easily collect Customer Reviews.</p>
                <h3>Looking for more?</h3>
                  <p>Add an Instant Contact Page™ for a robust contact page complete with your contact info, web form, Google Map, social media links and hours of operation.</p>
              </div>
              <!-- <a href="javascript:Appcues.show('-L-bqYqWpwL99FN5DUmI')" class="pull-left text-warning" style="margin-top: 10px;">Learn More </a> -->
              <div class="m-t text-right">

                  <% if !@business.module_active?(4) %>
                      <%= form_tag business_account_modules_path(:kind => 4, :active => true) do %>
                          <%= button_tag( type: 'submit',
                          :class => "btn btn-outline btn-primary") do %>
                              Activate Forms <i class="fa fa-plus-circle"></i>
                          <% end %>
                      <% end %>
                  <% else %>
                      <%= link_to( "Configure", business_crm_contact_forms_path(@business), :class => "btn btn-xs btn-outline btn-primary" ) %>
                  <% end %>
              </div>
          </div>
        </div>
    </div>
</div>
