= render partial: "website/contact_blocks/#{contact_block.theme}", object: contact_block, as: :block, locals: { business: contact_block.business, location: contact_block.business.location, website: contact_block.business.website }
