- @calendar_widget = CalendarWidget.find_by(id: calendar_block.widget_id)

div.col-xs-12 class=calendar_block.custom_class
  a id=calendar_block.custom_anchor_id

  = render 'website/calendar_blocks/calendar_widget_inner'

