<div style="max-width: 600px; margin-left: auto; margin-right: auto;">
    <p>
        We're using free local marketing tools from Locable to promote our business and those we endorse and recommend. You can create your free account in just a couple minutes by visiting this <%= link_to "link", new_onboard_user_url(:company_id => @business.id, :contact_id => @invitee_id) %>.
    </p>
</div>