- title 'Edit Business Event'

= errors_for @event_definition
= form_for @event_definition, url: business_content_event_definition_path(@business, @event_definition), html: { class: 'save-once' } do |form|
  = render form
