/* This is the legacy file for left over CSS from the old blog CSS
* After the Legacy classes will be the New Feed CSS listed on Manifest
*/

/* Manifest */
/* Product Image Classes */
/* Before After Side by Side */
/* Gallery nested images */
/* Gallery 2 Image Side by Side */
/* Offer Border Settings */
/* Event Time & Date For Blog-Items */
/* Custom Margin */
/* Custom margin for event location second line */

.feed-item {
  margin: 0 0 2em;
  padding-top: 1em;
  border-top: solid 2px rgba(0,0,0,0.1);
  .thumbnail {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
}

.feed-item-meta {
  margin-bottom: 2em;
}

.feed-event {
  margin-bottom: 2em;
}

.slider-content {
    border-right: 1px solid transparent;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}

.slider-content a {
  text-decoration: none !important;
}

.single-blog {
    margin: 5px !important;
    height: 295px !important;
    width: 350px !important;
    padding: 0px 0px 4px 0px;
    background-color: #FBFBFB;
    border: 1px lightgray solid;

  .embed-responsive {
    height:185px;

  }

  .embed-responsive-4by3 {
    padding-bottom: 0;
  }
}

.slider-text {
    color: black;
    padding: 5px;
    margin: 0px;
    transition: all 0.5s ease-in-out 0s;
    text-align: left;
    font-size: 18px;
}

.slider-text-sub {
  font-weight: 200;
  color: black;
  font-size: 15px;
  text-align: left;
}

.slider-imaging {
    display: block;
    height: 185px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    transition: all 0.5s ease-in-out 0s;
    vertical-align: middle;
    padding-top: 2px;
}

.offer-imaging {
  display: block;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 306px;
  transition: all 0.5s ease-in-out 0s;
  vertical-align: middle;
}

.gallery-row {
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
  background-repeat:no-repeat;
  background-size: cover;
  width: 375px;
  height: 185px;
}

.gallery-row-mini {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid white;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  border-color: white;
  height: 93px;
  margin-left: 51%;
  width: 160px;
  overflow:hidden;
}

.event-blog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
  height:185px;
}

.post-blog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
  height:185px;
}

.offer-blog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
  height:70px;
  width: 100%;
  border-radius: 3px;
}

.slider-imaging-special {
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    transition: all 0.5s ease-in-out 0s;
    vertical-align: middle;
}

.slider-imaging-ba {
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
    max-width: 130px;
    vertical-align: middle;
    height: auto;
}

.ba-container {
  width: 372px;
  height: 185px;
  overflow: hidden;
  margin: 0 auto;
}

.before-image {
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
   border-right: 9px solid white;
}
.after-image {
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
   border-left: 9px solid white;
}

.slider-p {
  text-align: left;
  color: black;
  padding-left: 5px;
}

.col-before {
  width: 174px;
  height: 185px;
  float: left;
  border-right: 1px solid white;
}

.col-after {
  width: 174px;
  height: 185px;
  overflow: hidden;
  border-left: 1px solid white;
}

.gallery_single {
  width: 345px;
  height: 185px;
  overflow: hidden;
}

.gallery_side_one {
  width: 170px;
  height: 185px;
  float: left;
  border-right: 1px solid white;
  overflow: hidden;
}

.gallery_side_two {
  width: 170px;
  height: 185px;
  overflow: hidden;
  border-left: 1px solid white;
  overflow: hidden;
}

.row-mini-text {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-top: 20%;
  height:inherit;
}

.row-ba-text {
  margin-left: 40%;
  margin-top: 10px;
  position: absolute;
  top: 0;
  vertical-align: middle;
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.pickgradient {
  position: relative;
}

.pickgradient::after {
    background: transparent linear-gradient(to top, transparent 67%, rgba(0, 0, 0, 0.55) 70%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.webpage-container-blog {
  text-align:center;
}

.coupon {
  border: 2px dashed #bcbcbc;
  border-radius: 10px;
  width: 97%;
  height: 210px;
  margin-top: 2px;
}

.coupon #offer-head {
  min-height: 56px;
}

.offer-footer {
  background-color: #f1f1f1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  height: 35px;
  overflow:hidden;
}

.offer-header {
  background-color: #d1eeee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  height: 35px;
  overflow:hidden;
}

.offer-center {
  height: 56px;
  overflow:hidden;
}

.offer-para {
  font-weight:bold;
}

.exp {
  color: #f34235;
  margin: 5px;
  font-size:11px;
}

.disclosure {
    color: #bcbcbc;
    font-size: 11px;
    text-align: center;
    margin: 7px;
}

.blog-image-position {
  background-position: center center;
}

// .search-full {
//   @media (max-width: $screen-lg-min) {
//     display:none;
//   }
// }

.search-collapsed {
  display: none;
  @media (max-width: $screen-lg-min) {
    display:inline;
  }
}

.content-no-photo {
  background-image: 'impact_gs.jpg';
}

/* Product Image Classes */

.product-imitation {

  height: 250px;
  width: auto;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  /* Before After Side by Side  */
  .before {
    img {
      width: 50%;
      float: left;
      height: 250px;
      border-right: 2px solid white;
    }
  }
  .after {
    img {
      width: 50%;
      height: 250px;
    }
  }

  /* Gallery nested images */

  .gallery-first {
    width: 50%;
    float: left;
    height: 250px;
    object-fit: cover;
    border-right: 2px solid #fff;
  }

  .gallery-second {
    width: 50%;
    float: left;
    height: 125px;
    object-fit: cover;
  }

  .gallery-third {
    width: 50%;
    float: left;
    height: 125px;
    object-fit: cover;
    border-top: 1px solid #fff;
  }

  /* Gallery 2 Image Side by Side */

  .gallery-left-side {
    width: 50%;
    float: left;
    height: 250px;
    border-right: 2px solid white;
    object-fit: cover;
  }

  .gallery-right-side {
    float: left;
    width: 50%;
    height: 250px;
    object-fit: cover;
  }

  .gallery-text {
    position: relative;
    width: 100%;
    bottom: 50px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    background-color: rgba(168, 168, 168, 0.55);
  }

  .gallery-text:hover {
    background-color: rgb(168, 168, 168);
  }

}

.offer-border {
  height: 100%;
  border-width: 4px;
  border-style: dashed;
  border-color: #18a689 ;
}

/* Event Time & Date For Blog-Items */
.event-time-banner {
  font-size: 14px;
  font-weight: 600;
  color: $event-block-secondary;
  background-color: $event-block-primary;
  padding: 6px 12px;
  position: absolute;
  top: -52px;
  right: 0;
  text-align: right;
}

/* Duplicated from Pages.scss but not being used at the moment */
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: lighten($gray, 2%);
}

.product-imitation.xl {
  padding: 120px 0;
}

/* Ibox Container for text below image */
// Grid Feed Title is the name for the title for the box title

.grid-feed-title {
  font-size: 16px;
  font-weight: 600;
  color: $text-color;
  display: block;
  margin: 2px 0 5px 0;
  text-align: left;
}

.grid-feed-title:hover,
.grid-feed-title:focus {
  color: #18a689;
  text-decoration: none;

}

// Product Desc is container below ibox image
.product-desc {

  height: 180px;
  position: relative;
  text-align: left;
  padding: 20px;

  // Green button styling in the product-desc grid element
  .btn-feed-block {
    color: $feed-block-btn-primary;
    font-weight: 400;
    border-radius: $btn-border-radius;
    background-color: transparent;
    border-color: $feed-block-btn-primary;
    border: $feed-btn-border;

    margin: 15px;
    position: absolute;
    bottom: 0;
    right: 0;

    // pulled from .btn-xs
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
  }

  // Green button styling in the product-desc grid element
  // Removed transition, causing trouble with Chrome
  .btn-feed-block:hover {
    background-color: $feed-block-btn-primary;
    border-color: $feed-block-btn-primary;
    color: $feed-block-btn-secondary;

  }



  // Span for events nested
  span.indent-5 {
    text-indent: 5px;
  }

  .m-t-xs {
    color: #333333;
  }

  .m-t-xs:hover {
    color: #333333;
    text-decoration: none;
  }
}
/* Custom margin for event location second line */
.m-lt-8 {
  margin-left: 8px;
}
