.intro-header {
  margin: 0;
  text-align: center;
  color: #f8f8f8;

  .container,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
  }

  > .container {
    background: image-url('intro-bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
  }

  .lead {
      font-size: 18px;
      font-weight: 400;
  }

  .intro-message {
      position: relative;
      padding-top: 3%;
      padding-bottom: 1%;
      text-align: center;
      color: #fff;
  }

  .intro-message > h1 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      font-size: 5em;
  }

  .intro-divider {
      width: 400px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .intro-message > h3 {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  .modal-content {
      background-color: rgba(0,0,0,.5);
  }

  .modal-dialog {
      margin: 0 auto 10%;
  }

  .login-links {
    padding-top: 10px;
    font-size: 0.8em;
  }

  @media(max-width:767px) {
      .intro-message {
          padding-bottom: 15%;
      }

      .intro-message > h1 {
          font-size: 3em;
      }

      .intro-divider {
          width: 100%;
      }

      .col-xs-6 {
        width: 100%;
      }
  }

  .well .control-label-dark, .intro-header label {
      color: #9DDC6F;
  }
  .well {
       border-radius: 0;
       background-color: rgba(245,245,245,.3);
  }

  a {color:#5bc0de;}

  .help-block {
    font-size: 0.8em;
    color: #fff;
  }

  .text-success {
      color: #227DAB;
  }

  footer {
      padding: 50px 0;

      p.copyright {
        margin: 15px 0 0;
      }
  }
}
