.menus-sortable {
  .panel, .well {
    margin-bottom: 40px;
    p {
      margin: 0;
    }
  }
  p.small {
    margin: 8px 0;
  }
  .fa-reorder {
    margin-right: 10px;
  }
  .menus-sortable-remove {
    margin-top: 3px;
    cursor: pointer;
  }
}

.menus-sortable-header,
.menus-sortable-footer,
.menus-sortable-header-excluded,
.menus-sortable-footer-excluded {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
  ol {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
  }
  .placeholder {
    outline: 1px dashed #4183C4;
  }
  .mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
  }
  li {
    margin: 0.3em 0;
    padding: 0;
    display: block;
    > div {
      padding: 0.3em 0.5em;
      cursor: move;
      background: #f9f9f9;
      border: solid 1px #ddd;
      border-radius: 2px;
    }
  }
}

.menus-sortable-header-excluded,
.menus-sortable-footer-excluded {
  .menus-sortable-remove {
    display: none;
  }
}
