.review {
  border-left: none;
  padding: 1em 0;
}

.review-text {
  :before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
}

.review-rating {
  color: #DAA520;
}

.reviewer {
  margin-top: 1em;
}

.reviews {
  padding-bottom: ($line-height-computed * 2);
  .carousel-control.left,
  .carousel-control.right {
    background: none;
    width: 25px;
  }
  .carousel-control.left  { left:  -45px; }
  .carousel-control.right { right: -45px; }
}

.reviews-full-width {
  .carousel-control.left,
  .carousel-control.right {
    color: #222;
  }

  @media (max-width: $screen-xs-max) {
    .reviewer {
      text-align: center;
      &:before {
        content: none;
      }
    }
  }
}
