.note-editor {
  margin: 0 0 .1em;
  padding: 0;
  border: none;
  .note-toolbar {
    color: black;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    i {
      color: black !important;
    }
    .btn-group {
      margin-left: 0;
    }
    .note-align .dropdown-menu {
      width: 212px;
      padding-left: 5px;
    }
    .note-display .fa-magic {
      @extend .fa-font;
    }
    &:after {
      clear: none;
    }
  }
  .note-editable {
    width: 100%;
    margin: 0.2em 0;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    // color: black;
  }
}

.note-air-editor:hover {

  box-shadow: 0 0px 0px 2px #1ab394;
  border-radius: 1px;
  transition: box-shadow 0.2s
}
.note-air-editor:empty:hover {
  text-align: center;
}
.note-air-editor:empty:hover::after {
  // text-align: center;
  transition: content 0.2s;
  font-family: FontAwesome;
  content: "\f055";
  opacity: 0.8;
  color: #1ab394;
  // content: '<i class="fa fa-plus-circle"></i>'
}
.note-air-editor:empty:hover:focus::after {
  content: ""
}
