.theme-banner {
  background-color: #FBE8AA;
  @media (min-width: $screen-sm-min) {
    .col-sm-6:last-child {
      text-align: right;
    }
  }
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
  h2 {
    margin: 5px 0 0;
  }
  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .checkbox {
    margin: 0 20px 0 0;
    vertical-align: middle;
    display: inline-block;
  }
  a.small {
    border-bottom: dotted 1px #555;
    color: #555;
    font-style: italic;
    display: inline-block;
    margin: 0 20px 0 0;
    text-decoration: none;
    vertical-align: middle;
    &:hover {
      color: #555;
    }
  }
}
