.webpage-block {
  position: relative;
  .jumbotron,
  .lead,
  .panel,
  .well {
    margin: 0;
    border-radius: 0;
  }
  .thumbnail {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .jumbotron {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 0;
    @media (max-width: 767px) {
      height: auto !important;
    }
    .col-sm-6 {
      .webpage-image-empty {
        opacity: 0.85;
      }
    }
  }
  .jumbotron h1 {
    @extend .h2;
    margin-top: 0;
  }
  .well-transparent {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .well-light {
    background-color: rgba(255,255,255,0.85);
    border: solid 1px rgba(255,255,255,0.95);
    text-shadow: 0 0 1px #fff;
  }
  .well-dark {
    background-color: rgba(0,0,0,0.85);
    border: solid 1px rgba(0,0,0,0.95);
    color: #f9f9f9;
    text-shadow: 0 0 1px #000;
  }
  &:before, &:after {
   content: ""; 
   position: absolute;
  }
  .col-xs-12, .col-xs-9, .col-xs-8, .col-xs-6, .col-xs-4, .col-xs-2, .col-sm-12, .col-sm-9, .col-sm-8, .col-sm-6, .col-sm-4, .col-sm-2 {
   &:before, &:after {
   content: ""; 
   position: absolute;
  } 
  }
}

.webpage-about {
  &.well-transparent {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  &.well-light {
    background-color: rgba(255,255,255,0.85);
    border: solid 1px rgba(255,255,255,0.95);
    text-shadow: 0 0 1px #fff;
  }
  &.well-dark {
    background-color: rgba(0,0,0,0.85);
    border: solid 1px rgba(0,0,0,0.95);
    color: #f9f9f9;
    text-shadow: 0 0 1px #000;
  }
}

.webpage-hero, .jumbotron, .lead, hr {
  &:before {
   content: ""; 
  } 
  &:after {
   content: ""; 
   position: absolute;
  }
}

.webpage-block + .webpage-block {
  margin-top: 15px;
}

.webpage-block.col-sm-3,
.webpage-block.col-sm-4,
.webpage-block.col-sm-6 {
  margin-top: 0 !important;
}

.webpage-block-sort-handle {
  cursor: move;
}

.webpage-block-placeholder {
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
}

.webpage-block-representer {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 5em 5em;
  position: relative;
  z-index: 1;
  text-align: center;
}

.sepia-hover img:hover {
  -webkit-filter: sepia(80%); 
  filter: sepia(80%);
}

.parallax { 
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide-button .btn-p {
    display: none;
}

/* Summernote overrides */
.webpage-block .summernote-editor .note-editor .note-statusbar {
    display: none;
}

.webpage-block .summernote-editor {

    position: relative;
    top: 0;
    left: 0;

    .note-editable {
        border: 1px solid transparent;
        background: transparent;
        transition: background-color 0.25s ease-in;
    }

    .empty-plus {
        display: none;
        font-size: 20px;
    }

    &.focus {

        .note-editable {
            border: 1px solid rgba(204, 204, 204, 0.6);
            background: rgba(255, 255, 255, 0.3);
        }
    }

    &:not(.focus):hover {

        &.empty .empty-plus {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -0.5em;
            margin-top: -0.5em;
            color: $navy;
        }

        .note-editable {
            border: 1px solid $navy;
        }
    }
}
