.webpage-designer {
  margin: 3em 15px 5em;
  @media (min-width: 1230px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  i {
    // color: black !important;
  }
  .webpage-image-empty i {
    color: #888888 !important;
  }
  .webpage-options i {
    color: white !important;
  }
}
