.webpage-tagline {
  .btn-primary {
    margin-top: 15px;
  }
  p.lead {
    margin: 0;
  }
  .tagline-left .btn {
    margin-bottom: $line-height-computed;
    @media (min-width: $grid-float-breakpoint) {
      margin-left: 20px;
      float: right;
    }
  }
}
