.webpage-designer {
  margin: 3em 0;
}

.webpage-add {
  position: relative;
  border: dashed 1px #ccc;
  border-radius: 2px;
  padding: 2em;
  text-align: center;
  cursor: pointer;
}

.webpage-group {
  position: relative;
  padding: 0;
}

.webpage-group-basic {
  .webpage-blocks {
    margin: 2em 0;
  }
}

.webpage-group-sidebar {
  z-index: 1;
  width: 25%;
  .webpage-block {
    margin: 2em 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.webpage-group-basic-left {
  .webpage-group-handle {
    left: -45px;
  }
  .webpage-group-call-to-action-size-handle {
    left: -45px;
  }
  .webpage-group-call-to-action-add-handle {
    left: -45px;
  }
  .row:after {
    clear: left;
  }
}

.webpage-group-basic-right {
  .webpage-group-handle {
    right: -45px;
  }
  .webpage-group-call-to-action-size-handle {
    right: -45px;
  }
  .webpage-group-call-to-action-add-handle {
    right: -45px;
  }
  .row:after {
    clear: right;
  }
}

.webpage-group-sidebar-left {
  float: left;
  .webpage-group-handle {
    left: -45px;
  }
  .webpage-group-sidebar-handle {
    left: -45px;
    @extend .fa-mail-forward;
  }
  ~ .webpage-group {
    margin-left: 25%;
    .webpage-blocks {
      margin-left: 1em;
    }
  }
}

.webpage-group-sidebar-right {
  float: right;
  .webpage-group-handle {
    right: -45px;
  }
  .webpage-group-sidebar-handle {
    right: -45px;
    @extend .fa-mail-reply;
  }
  ~ .webpage-group {
    margin-right: 25%;
    .webpage-blocks {
      margin-right: 1em;
    }
  }
}

.webpage-group-sidebar-right {
  float: right;
  .webpage-group-sidebar-handle {
  }
}

.webpage-group-basic:first-child,
.webpage-group-sidebar:first-child + .webpage-group-basic {
  .webpage-blocks {
    margin-top: 0;
  }
}

.webpage-group-placeholder {
  position: relative;
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
  margin: 2em 0;
}

.webpage-group-handle {
  position: absolute;
  top: 0;
  cursor: move;
}

.webpage-group-call-to-action-size-handle {
  position: absolute;
  top: 1.5em;
  cursor: pointer;
}

.webpage-group-call-to-action-add-handle {
  position: absolute;
  top: 3em;
  cursor: pointer;
}

.webpage-group-sidebar-handle {
  position: absolute;
  top: 1.5em;
  cursor: pointer;
}

.webpage-inserts {
  cursor: pointer;
}

.webpage-block {
  position: relative;
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .note-toolbar:after {
    clear: none;
  }
  .note-editable {
    width: 100%;
  }
}

.webpage-block-col-8 {
  width: 66.66%;
}

.webpage-block-col-6 {
  width: 50%;
}

.webpage-block-col-4 {
  width: 33.33%;
}

.webpage-block-col-3 {
  width: 25%;
}

.webpage-block-col-8,
.webpage-block-col-6,
.webpage-block-col-4,
.webpage-block-col-3 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  &:not(:first-child) {
    padding-left: 0.5em;
  }
  &:not(:last-child) {
    padding-right: 0.5em;
  }
}

.webpage-block-col-6-offset {
  margin-left: 50%;
}

.webpage-options {
  position: absolute;
  top: -1em;
  right: 1em;
  z-index: 2;
}
