.webpage-footer {
  margin-top: 30px;
  hr,
  .page-header {
    border-color: rgba(0,0,0,0.1);
  }
  .site-footer-simple {
    text-align: center;
    .footer-social {
      margin-left: -1px;
      li {
        padding-left: 1px;
        padding-right: 1px;
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      .footer-social {
        float: right;
        margin-top: -2px;
      }
      .copyright {
        float: left;
      }
    }
  }

  .site-footer-columns {
    $footer-color: lighten($navbar-inverse-color, 10%);
    $footer-link-color: $link-color;
    .site-footer-upper {
      background: $navbar-inverse-bg;
      border-top: 1px solid rgba(0,0,0,0.1);
      color: $footer-color;
      padding-top: 40px;
      .site-footer-column {
        margin-bottom: 40px;
      }
      a {
        &, &:link, &:visited  { color: $footer-link-color; }
      }
    }
    .fn {
      margin-top: 0;
    }
    .footer-social {
      margin-left: -1px;
      text-align: center;
      li {
        padding-left: 1px;
        padding-right: 1px;
      }
    }
    .footer-links {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      @media (min-width: $screen-md-min) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
    }
    .copyright {
      margin: 20px 0;
    }
    @media (min-width: $grid-float-breakpoint) {
      .footer-social {
        text-align: left;

        li {
          display: block;
        }
      }
    }
  }

  .site-footer-layers {
    $footer-color: lighten($navbar-inverse-color, 10%);
    $footer-link-color: $link-color;
    background: $navbar-inverse-bg;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: $footer-color;
    a {
      &, &:link, &:visited  { color: $footer-link-color; }
    }
    .site-footer-middle {
      background: rgba(0,0,0,0.1);
    }
    .site-footer-upper,
    .site-footer-middle,
    .site-footer-bottom {
      padding: 20px 0 10px;
    }
    .fn {
      margin: 0;
    }
    .footer-social {
      margin-left: -1px;
      text-align: center;
      li {
        padding-left: 1px;
        padding-right: 1px;
        vertical-align: middle;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      .footer-center  { text-align: center; }
      .footer-right   { text-align: right; }
    }
  }
}
