.webpage-hero {
  width: 100%;
  max-width: 100% !important;
  margin-top: 0;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

  .btn-primary {
    margin-top: 15px;
  }
  h1 {
    font-size: $font-size-h2;
  }
  .hero-full {
    background-size: cover;
    background-position: center center;

    &.hero-dark {
      color: #fff;
    }

    .well {
      background-color: rgba($well-bg, 0.75);
      color: $text-color;
    }

    .well-dark {
      background-color: rgba(0,0,0,0.75);
      color: #fff;
      border-color: #222;
    }
    .carousel-caption {
      background: rgba(0,0,0,0.5);
    }
  }

  .jumbotron {
    margin-top: 20px;

    &:not(.layout-default) {
      border-radius: 0;
      margin-top: 0;
    }

    &:not(.layout-fullbleed) {
      max-width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
