.webpage-header {
  .navbar-toggle {
    background-color: #f6f6f6;
    z-index: 1;
  }
  .navbar-brand-image {
    height: 40px;
    margin-top: -10px;
    display: inline-block;
    img {
      display: block;
      max-width: 100%;
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    .header-centered .navbar-brand {
      position: absolute;
    }
    .navbar-centered {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
    }
    .header-justified {
      display: table;
      width: 100%;
      text-align: center;
      .navbar-header,
      .navbar-collapse {
        display: table-cell !important;
        float: none;
      }
      .navbar-brand {
        display: block;
        float: none;
        img {
          display: inline-block;
        }
      }
      .nav-justified > li {
        float: none;
      }
    }
  }
  .header-centered-logo {
    > .container .navbar-brand,
    > .container-fluid .navbar-brand,
    .navbar-brand {
      position: absolute;
      left: 50%;
      text-align: center;
      float: none;
      padding: 0;
      margin-top: 5px;
      @media (min-width: $grid-float-breakpoint) {
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      .navbar-left {
        position: absolute;
        right: 50%;
      }
      .navbar-right {
        position: absolute;
        left: 50%;
      }
    }
  }
  .header-logo-above {
    .navbar-brand-image {
      height: 60px;
      margin: 15px 0;
      padding: 0;
    }
    .navbar-toggle {
      border-color: $navbar-default-toggle-border-color;
      &:hover,
      &:focus {
        background-color: $navbar-default-toggle-hover-bg;
      }
      .icon-bar {
        background-color: $navbar-default-toggle-icon-bar-bg;
      }
    }
  }
  .navbar-logo-above {
    min-height: 0;
  }
  @media (min-width: $grid-float-breakpoint) {
    .navbar-vcard {
      margin-right: $navbar-padding-horizontal;
    }
  }
  .header-logo-below {
    text-align: center;
    .navbar-brand-image {
      margin: 5px 0 0;
      height: 78px;
      float: none;
      padding: 0;
    }
    margin-bottom: $navbar-margin-bottom;
  }
}
