// To Remove:
.webpage-block-options {
  position: absolute;
  top: -15px;
  right: -10px;
  z-index: 1030;
}

.webpage-options {
  position: absolute;
  top: -1em;
  right: 1em;
  z-index: 2;
  opacity: 0.8;
}
