.webpage-group {
  position: relative;
  .row > * {
    @media (max-width: 767px) {
      width: 100%;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
  @media (min-width: 768px) {
    .row > .col-sm-8 {
      width: 66%;
    }
    .row > .col-sm-6 {
      width: 49.5%;
    }
  }
  &:before, &:after {
   content: "";
   position: absolute;
  }
}

/*.webpage-group + .webpage-group {
  margin-top: 30px;
}*/

.webpage-group-sidebar {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .webpage-group-sidebar,
  .webpage-group-sidebar-placeholder-left,
  .webpage-group-sidebar-placeholder-right {
    width: 25%;
  }
  .webpage-group-sidebar-left,
  .webpage-group-sidebar-placeholder-left {
    float: left;
    ~ .webpage-group {
      margin-left: 25%;
      padding-left: 30px;
    }
  }
  .webpage-group-sidebar-right,
  .webpage-group-sidebar-placeholder-right {
    float: right;
    ~ .webpage-group {
      margin-right: 25%;
      padding-right: 30px;
    }
  }
}

.webpage-group-basic-left {
  .webpage-group-sort-handle,
  .webpage-group-background-handle,
  .webpage-group-custom-handle {
    left: -30px;
  }
  .webpage-group-call-to-action-size-handle {
    left: -32px;
  }
  .webpage-group-hero-handles {
    left: -34px;
  }
}
.webpage-group-basic-left.full_width-group {
  .webpage-group-sort-handle,
  .webpage-group-background-handle,
  .webpage-group-custom-handle {
    left: 15px;
  }
  .webpage-group-call-to-action-size-handle {
    z-index: 50;
    left: 15px;
  }
  .webpage-group-hero-handles {
    z-index: 50;
    left: 12px;
  }
}
.webpage-group-basic-right.full_width-group {
  .webpage-group-sort-handle,
  .webpage-group-background-handle,
  .webpage-group-custom-handle {
    left: 15px;
  }
  .webpage-group-call-to-action-size-handle {
    z-index: 50;
    left: 15px;
  }
  .webpage-group-hero-handles {
    z-index: 50;
    left: 12px;
  }
}
.webpage-group-basic-right {
  .webpage-group-background-handle,
  .webpage-group-sort-handle,
  .webpage-group-custom-handle {
    right: -30px;
  }
  .webpage-group-call-to-action-size-handle {
    right: -32px;
  }
  .webpage-group-hero-handles {
    right: -34px;
  }
}
.webpage-group-sidebar-left {
  .webpage-group-sort-handle,
  .webpage-group-background-handle,
  .webpage-group-custom-handle,
  .webpage-group-hero-handles,
  .webpage-group-sidebar-handle {
    left: -30px;
  }
  .webpage-group-sidebar-handle {
    @extend .fa-mail-forward;
  }
}
.webpage-group-sidebar-right {
  .webpage-group-sort-handle,
  .webpage-group-background-handle,
  .webpage-group-custom-handle,
  .webpage-group-hero-handles,
  .webpage-group-sidebar-handle {
    right: -30px;
  }
  .webpage-group-sidebar-handle {
    @extend .fa-mail-reply;
  }
}

.webpage-container-wrapper {
  .webpage-group-basic-left {
    .webpage-group-sort-handle,
    .webpage-group-background-handle,
    .webpage-group-custom-handle,
    .webpage-group-hero-handles {
      left: -52px;
    }
    .webpage-group-call-to-action-size-handle {
      left: -54px;
    }
    .webpage-group-hero-handles {
      left: -56px;
    }
  }
  .webpage-group-basic-right {
    .webpage-group-sort-handle,
    .webpage-group-background-handle,
    .webpage-group-custom-handle,
    .webpage-group-hero-handles {
      right: -52px;
    }
    .webpage-group-call-to-action-size-handle {
      right: -54px;
    }
    .webpage-group-hero-handles {
      right: -56px;
    }
  }
  .webpage-group-sidebar-left {
    .webpage-group-sort-handle,
    .webpage-group-background-handle,
    .webpage-group-custom-handle,
    .webpage-group-hero-handles,
    .webpage-group-sidebar-handle {
      left: -52px;
    }
    .webpage-group-sidebar-handle {
      @extend .fa-mail-forward;
    }
  }
  .webpage-group-sidebar-right {
    .webpage-group-sort-handle,
    .webpage-group-background-handle,
    .webpage-group-custom-handle,
    .webpage-group-hero-handles,
    .webpage-group-sidebar-handle {
      right: -52px;
    }
    .webpage-group-sidebar-handle {
      @extend .fa-mail-reply;
    }
  }
}

.webpage-group-placeholder {
  position: relative;
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
  margin: 2em 0;
}

.webpage-group-sort-handle {
  position: absolute;
  top: 0;
  cursor: move;
}

.webpage-group-background-handle {
  position: absolute;
  top: 3em;
  cursor: pointer;
}

.webpage-group-custom-handle {
  position: absolute;
  top: 1.5em;
  cursor: pointer;
}

.webpage-group-call-to-action-size-handle {
  position: absolute;
  top: 4.5em;
  cursor: pointer;
}

.webpage-group-sidebar-handle {
  position: absolute;
  top: 4.5em;
  cursor: pointer;
}

.webpage-group-hero-handles {
  position: absolute;
  top: 4.5em;
  padding: 0.2em;
  box-sizing: border-box;
  background: rgba(0,0,0,0.03);
  border: solid 1px rgba(0,0,0,0.1);
  border-radius: 0.25em;
}

.webpage-group-hero-add-handle {
  display: block;
  cursor: pointer;
  &:not(:first-of-type) {
    padding-top: 0.2em;
    border-top: solid 1px rgba(0,0,0,0.1);
  }
}

.webpage-group-hero-switch-handle {
  display: block;
  cursor: pointer;
  &:not(:first-of-type) {
    margin-top: 0.2em;
  }
}

.webpage-group-hero-switch-handle + .webpage-group-hero-switch-handle {
  right: 3em;
}

.webpage-group-hero-switch-handle + .webpage-group-hero-switch-handle + .webpage-group-hero-switch-handle {
  right: 4em;
}

.sortable-hero-handles {
  padding: 0;
}
