.webpage-wrapper {

  hr,
  .page-header {
    border-color: rgba(0,0,0,0.1);
  }


  & > .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    & > div {
      max-width: 970px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  & > .container:first-child > div:first-child {
    padding-top: 20px
  }
}
