@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'variables';
@import 'utils/**/*';
@import 'components/**/*';
@import 'views/**/*';

// Modified CSS from Inspinia Theme
@import 'base-front';
// Shared un-modified Inspinia Theme Style Initializer
@import 'shared-elements';


input[type="checkbox"] {
  cursor: pointer;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.modal-dialog .nav {
  margin-bottom: 15px;
}

.modal-body.fixed-height {
  height: 500px;
  overflow-y: scroll;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  line-height: 1.618;
  font-family: system-ui;
  word-wrap: break-word;
}

.b-red {
    border: 2px solid red;
}

.b-blue {
    border: 2px solid blue;
}

.inactive-module-dashboard {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #bebec3;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}

.summernote-editor {

    a.note-dropdown-item {
        padding: 3px 0;

        &.active {
          background-color: #ebebeb;
          color: $navy;
          text-decoration: none;
        }
    }

    .note-status-output {
        display: none !important;
    }
    .empty-plus {
        display: none;
    }

    #libre-paintbrush {
        position: relative;
        top: 3px;
        left: 0;
    }

}
