// IBOX colors ( default panel colors) blog ibox vars
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content
// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
//Border radius for buttons
$btn-border-radius: 3px;
// Used on front end base-front
// Boxed layout width
$boxed-width: 1200px;
//Sidebar width
$sidebar-width: 230px;
$event-block-primary: #1ab394;
$event-block-secondary: #fff;
$feed-block-border: 1px solid transparent;
$feed-block-shadow: 0 3px 7px 0 rgba(168, 168, 168, 1);
$feed-block-btn-primary: #18a689;
$feed-block-btn-secondary: #fff;
$feed-block-btn-transition: background 0.6s ease-in;
$feed-btn-border: 1px solid;
// $feed-block-offer-border: ;
// $offer-show-border: ;
// $offer-show-print-button: ;
