- title 'Activity Calendar'

= render partial: 'dashbreadcrumb', locals: { lnk: :businesses, fn: 'Reminder list', fp: :reminders, an: 'Activity Calendar'}

.ibox
  .ibox-title
    h5 Activity Calendar
    .ibox-tools
      = link_to 'Add Custom Mission', new_business_mission_instance_path(@business), class: 'btn btn-primary btn-xs'
  .ibox-content
    #calendar

javascript:
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      events: #{@events.to_json.html_safe},
      customButtons: {
        timelineButton: {
          text: 'Timeline',
          click: function() {
            path = window.location.pathname
            window.location = path + '/timeline';
          }
        }
      },
      header: {
        left:   'today prev,next',
        center: 'title',
        right:  'timelineButton month,agendaWeek,agendaDay'
      },
      eventClick: function(calEvent, jsEvent, view) {
        window.location = '/businesses/' + calEvent.business_id + '/missions/' + calEvent.id
      }
    });

    if (window.location.search.match('month')) {
      $('#calendar').fullCalendar('changeView', 'month');
      $('.fc-month-button').addClass('fc-state-active');
    } else if (window.location.search.match('week')) {
      $('#calendar').fullCalendar('changeView', 'agendaWeek');
      $('.fc-week-button').addClass('fc-state-active');
    } else if (window.location.search.match('day')) {
      $('#calendar').fullCalendar('changeView', 'agendaDay');
      $('.fc-day-button').addClass('fc-state-active');
    };
  });
