- title 'Mission Calendar'

= render partial: 'dashbreadcrumb', locals: { lnk: :businesses, fn: 'Marketing Missions', fp: :reminders, an: 'Mission Calendar'}

.ibox
  .ibox-title
    h5 Mission Calendar
    .ibox-tools
      a.user-dropdown-toggle[data-toggle="dropdown"]
        span
           small.text-muted
             i.fa.fa-edit
             |  Manage Missions
             span.caret.pull-right
      ul.dropdown-menu
        li
          = link_to "Active Missions List View", [@business, :reminders]
        li
          = link_to "Browse Missions", [@business, :missions]
        li
          = link_to 'Create New Mission', new_business_mission_instance_path(@business)
        li
          = link_to 'Manage Notifications', [:edit, @business, :mission_notifications]
  .ibox-content
    #calendar

javascript:
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      editable: false,
      events: #{@events.to_json.html_safe},
      customButtons: {
        timelineButton: {
          text: 'Timeline',
          click: function() {
            path = window.location.pathname
            window.location = path + '/timeline';
          }
        }
      },
      header: {
        left:   'today prev,next',
        center: 'title',
        right:  'timelineButton month,agendaWeek,agendaDay'
      },
      eventClick: function(calEvent, jsEvent, view) {
        window.location = '/businesses/' + calEvent.business_id + '/missions/' + calEvent.id
      }
    });

    if (window.location.search.match('month')) {
      $('#calendar').fullCalendar('changeView', 'month');
      $('.fc-month-button').addClass('fc-state-active');
    } else if (window.location.search.match('week')) {
      $('#calendar').fullCalendar('changeView', 'agendaWeek');
      $('.fc-week-button').addClass('fc-state-active');
    } else if (window.location.search.match('day')) {
      $('#calendar').fullCalendar('changeView', 'agendaDay');
      $('.fc-day-button').addClass('fc-state-active');
    };
  });
