
- createad_landing_page = current_user.businesses.any? do |b|
  - webpages = b.website.try(:webpages)
  - webpages ? !webpages.empty? : false
/ - raise StandardError, params
- current_business = Business.find_by(id: params[:business_id])
- if current_business
  - settings = { plan: current_business.try(:subscription).try(:subscription_plan).try(:name), membership_org: current_business.membership_org, company_list_count: current_business.company_lists.size, people_contacts_count: current_business.contacts.size, company_contacts_count: current_business.owned_companies.size, account_id: params[:business_id]}
- else
  - settings = Hash.new("")

javascript:
    // NOTE: These values should be specific to the current user.
    Appcues.identify("#{current_user.id}", { // Unique identifier for current user
        first_name: "#{current_user.first_name}",
        last_name: "#{current_user.last_name}",
        email: "#{current_user.email}",
        created_at: "#{current_user.created_at}", // Unix timestamp of user signup date
        sent_invite: "#{current_user.invites.any?}",
        sent_member_invite: "#{current_user.invites.where(invite_as_member: true).any?}",
        received_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email)).any?}",
        received_member_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email), invite_as_member: true).any?}",

        created_reviews_widget: "#{current_user.businesses.any? { |b| !b.review_widgets.empty? }}",
        created_directory_widget: "#{current_user.businesses.any? { |b| !b.directory_widgets.empty? }}",
        created_custom_marketing_mission: "#{MissionInstance.where(creating_user: current_user).any?}",

        assigned_marketing_mission: "#{MissionInstance.where(assigned_user: current_user).any?}",
        created_todo_list: "#{current_user.businesses.any? { |b| !b.to_do_lists.empty? }}",
        activated_marketing_mission: "#{MissionHistory.where(actor: current_user, action: 'activated').any?}",
        added_contact: "#{current_user.businesses.any? { |b| !b.contacts.empty? }}",
        added_company: "#{current_user.businesses.any? { |b| !b.owned_companies.empty? }}",
        has_today_enabled: "#{current_user.businesses.any?(&:to_dos_enabled?)}",
        is_affiliate: "#{current_user.businesses.any? { |b| b.is_affiliate? }}",
        createad_landing_page: "#{createad_landing_page}",
        
        plan: "#{settings[:plan]}",
        membership_org: "#{settings[:membership_org]}",
        company_list_count: "#{settings[:company_list_count]}",
        people_contacts_count: "#{settings[:people_contacts_count]}",
        company_contacts_count: "#{settings[:company_contacts_count]}",
        account_id: "#{settings[:account_id]}",

        // Additional user properties.
        // is_trial: "<%= current_user.is_trial %>",
        // plan: "<%= current_user.plan %>"
        // ?hey_appcues
    });
