javascript:
    // NOTE: These values should be specific to the current user.
    Appcues.identify("#{current_user.id}", { // Unique identifier for current user
        name: "#{current_user.last_name}, #{current_user.first_name}", // Current user's name
        email: "#{current_user.email}",
        created_at: "#{current_user.created_at}", // Unix timestamp of user signup date

        // Additional user properties.
        // is_trial: "<%= current_user.is_trial %>",
        // plan: "<%= current_user.plan %>"
        ?hey_appcues
    });