- current_user
- createad_landing_page = current_user.businesses.includes(website: [:webpages]).any? do |b|
  - webpages = b.website.try(:webpages)
  - webpages ? !webpages.empty? : false
/ - raise StandardError, params
- current_business = Business.find_by(id: params[:business_id])
- if current_business
  - settings = {plan: current_business.try(:subscription).try(:subscription_plan).try(:name), 
    membership_org: current_business.membership_org, 
    company_list_count: current_business.company_lists.size, 
    people_contacts_count: current_business.contacts.size, 
    company_contacts_count: current_business.owned_companies.size, 
    account_id: params[:business_id],
    form_count: current_business.contact_forms.size,
    form_submissions_count: current_business.form_submissions.size,
  }
- else
  - settings = Hash.new("")
- if current_business && current_user
    javascript:
        // NOTE: These values should be specific to the current user.
        Appcues.identify("#{current_user.id}", { // Unique identifier for current user
            first_name: "#{current_user.first_name}",
            last_name: "#{current_user.last_name}",
            full_name: "#{current_user.name}",
            email: "#{current_user.email}",

            created_at: "#{current_user.created_at}", // Unix timestamp of user signup date
            sent_invite: "#{current_user.invites.any?}",
            sent_member_invite: "#{current_user.invites.where(invite_as_member: true).any?}",
            received_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email)).any?}",
            received_member_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email), invite_as_member: true).any?}",

            created_reviews_widget: "#{current_user.businesses.includes(:review_widgets).any? { |b| !b.review_widgets.empty? }}",
            created_directory_widget: "#{current_user.businesses.includes(:directory_widgets).any? { |b| !b.directory_widgets.empty? }}",
            created_custom_marketing_mission: "#{MissionInstance.where(creating_user: current_user).any?}",

            assigned_marketing_mission: "#{MissionInstance.where(assigned_user: current_user).any?}",
            created_todo_list: "#{current_user.businesses.includes(:to_do_lists).any? { |b| !b.to_do_lists.empty? }}",
            activated_marketing_mission: "#{MissionHistory.where(actor: current_user, action: 'activated').any?}",
            added_contact: "#{current_user.businesses.includes(:contacts).any? { |b| !b.contacts.empty? }}",
            added_company: "#{current_user.businesses.includes(:owned_companies).any? { |b| !b.owned_companies.empty? }}",
            has_today_enabled: "#{current_user.businesses.any?(&:to_dos_enabled?)}",
            is_affiliate: "#{current_user.businesses.includes(:subscription_affiliate).any? { |b| b.is_affiliate? }}",
            createad_landing_page: "#{createad_landing_page}",
            
            plan: "#{settings[:plan]}",
            membership_org: "#{settings[:membership_org]}",
            company_list_count: "#{settings[:company_list_count]}",
            people_contacts_count: "#{settings[:people_contacts_count]}",
            company_contacts_count: "#{settings[:company_contacts_count]}",
            account_id: "#{settings[:account_id]}",
            form_count: "#{settings[:form_count]}",
            form_submissions_count: "#{settings[:form_submissions_count]}",


            
              // new attribtues added March 25th, based off of attribtues sent to intercom in 
              // #update_intercom_company in business.rb, which is run in rake task
              // #task export_biz_data_and_associated_users_to_intercom
               website: "#{current_business.website_url}",
               plan_change_date: "#{current_business.date_plan_changed}",
               hours_of_operation: "#{current_business.biz_hours}",

               has_logo: "#{current_business.logo_placement.present?}",

               description: "#{current_business.description.present? ? current_business.description.truncate(200) : 'N/A'}", //truncated due to Intercom limit of 255 characters;
               membership_org: "#{current_business.membership_org}",
               account_create_date: "#{current_business.created_at}",
               account_claim_date: "#{current_business.created_at}",

               to_dos_enabled: "#{current_business.to_dos_enabled}",
               activated_mission_count: "#{current_business.missions.where(status: 'active').count}",
               marketing_missions_module: "#{current_business.module_active?(0)}", 
               content_engine_module: "#{current_business.module_active?(1)}", 
               local_connections_module: "#{current_business.module_active?(2)}",
               customer_reviews_module: "#{current_business.module_active?(3)}",
               form_builder_module: "#{current_business.module_active?(4)}",
               website_module: "#{current_business.module_active?(5)}",


               landing_page_count: "#{current_business.count_landing_pages}",
               contact_form_count: "#{current_business.contact_forms.count}",
               forms_submissions_count: "#{current_business.count_contact_forms_submissions}",
               company_lists_count: "#{current_business.company_lists.count}", //number of networks
               companies_in_crm_count: "#{current_business.owned_companies.count}", //number of companies in networks
               contacts_in_crm_count: "#{current_business.contacts.count}", //number of people in networks
               directory_count: "#{current_business.directory_widgets.count}", //number of directories
               calendar_count: "#{current_business.calendar_widgets.count}", //number of calendars
               reviews_requested_total: "#{current_business.feedbacks.count}", //number of feedback reviews requested
               reviews_received_total: "#{current_business.reviews.count}",
               // ADD: reviews_per_billing_cycle
               //invited_by

               //social media stuff
               facebook_id: "#{current_business.facebook_id}",
               google_plus_id: "#{current_business.google_plus_id}",
               linkedin_id: "#{current_business.linkedin_id}",
               twitter_id: "#{current_business.twitter_id}",
               youtube_id: "#{current_business.youtube_id}",
               instagram_id: "#{current_business.instagram_id}",
               pinterest_id: "#{current_business.pinterest_id}",
               yelp_id: "#{current_business.yelp_id}",
               cce_id: "#{current_business.cce_id}",
               zillow_id: "#{current_business.zillow_id}",
               opentable_id: "#{current_business.opentable_id}",
               trulia_id: "#{current_business.trulia_id}",
               realtor_id: "#{current_business.realtor_id}",
               tripadvisor_id: "#{current_business.tripadvisor_id}",
               houzz_id: "#{current_business.houzz_id}",

              // Additional user properties.
              // is_trial: "<%= current_user.is_trial %>",
              // plan: "<%= current_user.plan %>"
              // ?hey_appcues
        });
- elsif current_user
    javascript:
        // NOTE: These values should be specific to the current user.
        Appcues.identify("#{current_user.id}", { // Unique identifier for current user
            first_name: "#{current_user.first_name}",
            last_name: "#{current_user.last_name}",
            full_name: "#{current_user.name}",
            email: "#{current_user.email}",

            created_at: "#{current_user.created_at}", // Unix timestamp of user signup date
            sent_invite: "#{current_user.invites.any?}",
            sent_member_invite: "#{current_user.invites.where(invite_as_member: true).any?}",
            received_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email)).any?}",
            received_member_invite: "#{Invite.where(invitee: Contact.find_by(email: current_user.email), invite_as_member: true).any?}",

            created_reviews_widget: "#{current_user.businesses.includes(:review_widgets).any? { |b| !b.review_widgets.empty? }}",
            created_directory_widget: "#{current_user.businesses.includes(:directory_widgets).any? { |b| !b.directory_widgets.empty? }}",
            created_custom_marketing_mission: "#{MissionInstance.where(creating_user: current_user).any?}",

            assigned_marketing_mission: "#{MissionInstance.where(assigned_user: current_user).any?}",
            created_todo_list: "#{current_user.businesses.includes(:to_do_lists).any? { |b| !b.to_do_lists.empty? }}",
            activated_marketing_mission: "#{MissionHistory.where(actor: current_user, action: 'activated').any?}",
            added_contact: "#{current_user.businesses.includes(:contacts).any? { |b| !b.contacts.empty? }}",
            added_company: "#{current_user.businesses.includes(:owned_companies).any? { |b| !b.owned_companies.empty? }}",
            has_today_enabled: "#{current_user.businesses.any?(&:to_dos_enabled?)}",
            is_affiliate: "#{current_user.businesses.includes(:subscription_affiliate).any? { |b| b.is_affiliate? }}",
            createad_landing_page: "#{createad_landing_page}",
            
            plan: "#{settings[:plan]}",
            membership_org: "#{settings[:membership_org]}",
            company_list_count: "#{settings[:company_list_count]}",
            people_contacts_count: "#{settings[:people_contacts_count]}",
            company_contacts_count: "#{settings[:company_contacts_count]}",
            account_id: "#{settings[:account_id]}",
            form_count: "#{settings[:form_count]}",
            form_submissions_count: "#{settings[:form_submissions_count]}",
        });
    
- if flash[:appcues_event]
  javascript:
    #{flash[:appcues_event].html_safe}
