- title 'Linked Accounts'

= render :partial => 'dashbreadcrumb', :locals => { :an => ' Linked Accounts'}

br

h2.h3 Link your external business accounts

.row.wrapper

  .wrapper.wrapper-content
    .row

      - if @linked_facebook_page
         
        = render :partial => 'businesses/accounts/facebooks/facebook_linked', :locals => { :business => @business }

      - else 
        = render :partial => 'businesses/accounts/facebooks/facebook_unlinked', :locals => { :business => @business }
      - if @locable_business  
        = render :partial => 'businesses/accounts/locables/locable_linked', :locals => { :business => @business }
      - else
        = render :partial => 'businesses/accounts/locables/locable_unlinked', :locals => { :business => @business }
javascript:

          $('.btn-danger').click(function (e) {
            e.preventDefault();
            var accountType = this.id;
            console.log(accountType);
            var url = document.querySelectorAll('[data-id="' + accountType + '"]').item(0).getAttribute('action');
            console.log(url);

            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, unlink!!",
                closeOnConfirm: true
            }, function (confirmed) {
              if(confirmed) {
 
                console.log(url);
                $.ajax({
                  url: url,
                  method: 'delete',
                  success: function(response) {
                    console.log(url);
                    window.location.reload();
                  }
                })

              }
            })
         }); 




    
