css:
  .backgroundTable {
    margin:0 auto;
    padding:0;
    width:100% !important;
  }
  .ReadMsgBody {
    width: 100%;
  }
  .ExternalClass {
    width:100%;
  }
  .ExternalClass,.ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
    line-height: 100%;
  }
  body {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    width:100% !important;
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased !important;
  }
  table {
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
  }
  table td {
    border-collapse: collapse;
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    padding:0;
  }
  img {
    -ms-interpolation-mode:bicubic;
  }
  a img {
    border:none;
  }
  p {
    Margin: 0;
  }
  a {
    text-decoration: none !important;
  }
  body, .wrapper {
    background-color: #F4F5F7;
  }

  @media screen and (min-width: 481px) {
    .top {
      line-height:20px!important;
    }
    .footer-c {
      display:table-cell!important;
      vertical-align:middle!important;
    }
    .footer-c1 {
      display:table-cell!important;
      width:40%!important;
      vertical-align:middle!important;
    }
    .footer-c2 {
      display:table-cell!important;
      vertical-align:middle!important;
    }
    .social {
      padding:0 0 0 20px!important;
    }
    .social-l {
      padding:0 104px 0 20px!important;
    }
    .missions {
      padding: 44px 24px 60px 24px!important;
    }
    .mission-inner {
      padding:20px 30px!important;
    }
    .footer {
      padding:25px 24px 10px 24px!important;
    }
    .intro-txt {
      padding:0 60px!important;
    }
  }
  [owa] .footer-c {
    display:table-cell!important;
    vertical-align:middle!important;
  }
  [owa] .top {
    line-height:20px!important;
  }
  [owa] .footer-c1 {
    display:table-cell!important;
    width:40%!important;
    vertical-align:middle!important;
  }
  [owa] .footer-c2 {
    display:table-cell!important;
    vertical-align:middle!important;
  }
  [owa] .social {
    padding:0 0 0 20px!important;
  }
  [owa] .social-l {
    padding:0 104px 0 20px!important;
  }
  [owa] .missions {
    padding: 44px 24px 60px 24px!important;
  }
  [owa] .mission-inner {
    padding:20px 30px!important;
  }
  [owa] .footer {
    padding:25px 24px 10px 24px!important;
  }
  [owa] .intro-txt {
    padding:0 60px!important;
  }


body leftmargin="0" marginheight="0" marginwidth="0" offset="0" style="height:100%;Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" topmargin="0"
  /![if mso] <style>.top{line-height:20px!important;}.h-p{padding:30px 0!important;}.padding-0{padding:0!important;}</style
  .wrapper
    .embody style="Margin:0 auto; max-width:620px; min-width:180px;"
      /![if mso] <table width="620" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF"><tr><td
      div style="text-align:center; font-size:0;"
        /![if mso] <table width="620" align="center" cellspacing="0" cellpadding="0" border="0"><tr><td
        div style="display:block; vertical-align:top; width:100%; min-width:120px; max-width:100%; width:-webkit-calc(230400px - 48000%); min-width:-webkit-calc(100%); width:calc(230400px - 48000%); min-width:calc(100%);"
          table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%"
            tr
              td
                table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%"
                  = yield
            tr
              td
                table bgcolor="#F4F5F7" border="0" cellpadding="0" cellspacing="0" width="100%"
                  tr
                    td background="https://s3.amazonaws.com/assets.locable.com/images/sample/background-gradient.jpg" bgcolor="#06D4DB" style="padding:15px 24px;background-position:center center;" valign="top" width="100%"
                      /![if gte mso 9]
                        | <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:620px;height:70px;"
                        | <v:fill type="tile" src="https://marketing-image-production.s3.amazonaws.com/uploads/3e42622f69280ffd83fe0327fa5132543288298b8cc6c3ee4afc45b001ef9672065b2b789a3d25c9ac2abc7210d6e8a06d01eefa076f85532c9dd46251fa2d7b.jpg" color="#06d4db" /
                        | <v:textbox inset="0,0,0,0"
                      div
                        table border="0" cellpadding="0" cellspacing="0" style="n/a" width="100%"
                          tr
                            td
                              a href="http://www.locable.com/" target="_blank"
                                = email_image_tag("mailers/one_two/footer-l.png", style: "display:block;width:100%;max-width:36px;", width: "36")
                            td
                              table border="0" cellpadding="0" cellspacing="0" style="n/a"
                                tr
                                  td style="padding:0 0 0 14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;color:#FFFFFF;letter-spacing0.1em;"
                                    a href="http://www.locable.com/about/" style="color:#FFFFFF;" target="_blank"  ABOUT
                                  /td style="padding:0 0 0 14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;color:#FFFFFF;letter-spacing0.1em;"
                                    a href="#" style="color:#FFFFFF;" target="_blank"  FEATURES
                                  td style="padding:0 14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;color:#FFFFFF;letter-spacing0.1em;"
                                    a href="http://www.locable.com/blog/" style="color:#FFFFFF;" target="_blank"  BLOG
                            td
                              table align="right" border="0" cellpadding="0" cellspacing="0" width="80"
                                tr
                                  td align="center"
                                    a href="https://www.facebook.com/locable/" target="_blank"
                                      = email_image_tag("mailers/one_two/fb.png", style: "display:block;width:100%;max-width:18px;", width: "18")
                                  td align="center"
                                    a href="https://twitter.com/getlocable" target="_blank"
                                      = email_image_tag("mailers/one_two/twt.png", style: "display:block;width:100%;max-width:18px;", width: "18")
                                  td align="center"
                                    a href="https://www.locable.com/blog" target="_blank"
                                      = email_image_tag("mailers/one_two/rss.png", style: "display:block;width:100%;max-width:18px;", width: "18")
                      /![if gte mso 9]
                        | </v:textbox
                        | </v:rect
                  tr
                    td align="center" style="padding:30px 12px 6px 12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;color:#B3B5BA;"
                      | This email was sent to you by Locable, if you no longer want to get emails like this you can opt to unsubcsribe
        /![if mso] </td></tr></table
      /![if mso] </td></tr></table
